/* Reset e estilos gerais */
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-size: cover;
    background: url(imgs/FundoEntrar.png);
    display: flex;
}

/* Container principal */
.container {
    width: 70%;
    padding-inline: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline-end: 175px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Título principal */

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: relative;
    bottom: 10px;
    color: #FF6700;
    justify-content: center;
    display: flex;
}

/* Logo */

.welcome-container .logo{
    margin: 0;
}

.welcome-container .logo img{
    height: 60px;
    position: fixed;
    top: 90px;
    left: 200px;
}

/* Login com redes sociais */
.login-with {
    margin-top: 70px;
    padding-bottom: 10px;
    text-align: center;
}

.login-with span {
    color: #666;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

/* Grupos de input */
.input-group {
    padding-top: 20px;
    margin-inline: 100px;
}

.input-group input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* Link "Esqueceu sua senha?" */
.forgot-password {
    text-align: right;
    margin-bottom: 25px;
    padding: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.forgot-password a {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-color: #c0c0c0;
    font-size: 25px;
}

/* Botões */
.btn {
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

.btn-signup {
    background-color: #FF6700;
    border-radius: 200px;
    padding: 15px ;
    width: 175px;
    color: white;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}


/* Container de boas-vindas */
.welcome-container {
    width: 30%;
    padding: 40px;
    background: url(imgs/Fundo2.png);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline-start: 175px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.welcome-message {
    margin-bottom: 30px;
    color: #ccc;
}

.btn-login {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}